.sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 4rem;
    padding-bottom: 25px;
}
.sort h2{
    font-size: 1.45rem;
    font-weight:600;
}
.sort-form{
    font-size:1.3rem;
}

.sort select{
    font-size:1.15rem;
    margin-left: 10px;
    padding:5px 15px;
}